<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
        <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">
  
  </head>


  <body>
  <div id="container">
  <div class="inner">

        <header>
          <h1>Julian Henry</h1>
          <h2></h2>
        </header>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/+julian_henry.pdf">Resume</a></li>
</ul>
    </nav>
<section id="main_content">
  {{ content }}
</section>
  
  <footer>
   <ul>
   <li><a href="https://github.com/juleshenry">github.com/juleshenry</a></li>
   </ul>
  </footer>
</div>
</div>
  </body>

</html>
